{% extends 'hnrsircimBundle::Layout.html.twig' %}
{% block body -%}
    <h1>Tamano de placa</h1>

    <form action="{{ path('tamanoplaca_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Crear</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tamanoplaca') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
